<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Brewer</title>

  <link rel="shortcut icon" 				th:href="@{/img/favicon.png}" />
  <link rel="stylesheet" type="text/css"	th:href="@{/css/index.css}" />
  <link rel="stylesheet" type="text/css"	th:href="@{/css/bootstrap.min.css}" />
 

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>


	<section class="aw-layout-content  js-content"
		layout:fragment="conteudo">
	
	</section>

	<script th:src="@{/js/jquery-2.2.4.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>

	<th:block layout:fragment="javascript-extra"></th:block>
</body>
</html>