<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title></title>

  
  <link rel="stylesheet" type="text/css"	th:href="@{/layout/css/login.css}" />
  <link rel="stylesheet" type="text/css"	th:href="@{/layout/css/bootstrap.min.css}" />
  
</head>
<body>

  <div class="login-form col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
  	<header>
  		<h1><img class="img-responsive" src="img/watchguru.png"></h1>
  		<h2 class="text-center">Informe seu <b>usuário</b> e <b>senha</b></h2>
  	</header>
  	<form id="form1">
  		<div class="form-group">
  			<div class="input-group">
  				<div class="input-group-addon">
  					<span class="glyphicon glyphicon-user"></span>
  				</div>
  				<input type="text" name="usuario" class="form-control" placeholder="Usuário">
  			</div>
  		</div>

  		<div class="form-group">
  			<div class="input-group">
  				<div class="input-group-addon">
  					<span class="glyphicon glyphicon-option-horizontal"></span>
  				</div>
  				<input type="password" name="senha" class="form-control" placeholder="Senha">
  			</div>
  		</div>

  		<footer>
  			<div class="checkbox pull-left">
  				<label><input type="checkbox" name="lembrar">Lembrar de mim</label>
  			</div>
  			<button type="submit" class="btn btn-primary pull-right">Entrar</button>
  		</footer>
  	</form>
  </div>

  <script src="js/jquery-2.2.4.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/populate.js"></script>
  
  <script type="text/javascript">
  

     
  </script>
</body>
</html>