<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default"
	xmlns:ext="http://ext.ernestoborges.com.br">

<head>
<title>Pesquisa de cervejas</title>
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10">
						<h1>Pesquisa de cervejas</h1>
					</div>

					<div class="col-sm-2">
						<div class="aw-page-header-controls">
							<a class="btn  btn-default" th:href="@{/usuarios/novo}"> <i
								class="glyphicon  glyphicon-plus-sign"></i> <span
								class="hidden-xs  hidden-sm">Nova cerveja</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">


			<div class="table table-striped">
				<table class="table  table-hover">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Senha</th>
							<th>Grupo</th>
							<th></th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="item : ${lista}">
							<td class="text-center" th:text="${item.nome}">nome</td>
							<td th:text="${item.senha}">senha</td>
							<td th:text="${item.grupo}">grupo</td>
							<td class="text-center"><a class="btn  btn-link  btn-xs"
								title="Editar" th:href="@{/usuarios/} + ${item.id}"> <i
									class="glyphicon glyphicon-pencil"></i>
							</a> <a class="btn  btn-link  btn-xs" title="Excluir"
								th:href="@{/usuarios/delete/} + ${item.id}"> <i
									class="glyphicon glyphicon-remove"></i>
							</a></td>
						</tr>
					</tbody>
				</table>
			</div>


			<div class="col-sm-12  text-center" th:if="${not pagina.vazia}">
				<nav>
					<ul class="pagination  pagination-sm"
						th:with="paginaAtual=${pagina.atual}">
						<li th:class="${pagina.primeira} ? disabled"><a
							th:href="${pagina.urlParaPagina(paginaAtual - 1)}"
							th:remove="${pagina.primeira} ? tag"><span>&laquo;</span></a></li>
						<th:block th:each="p : ${#numbers.sequence(1, pagina.total)}"
							th:with="numeroPagina=${p - 1}">
							<li th:class="${paginaAtual == numeroPagina} ? active"><a
								th:href="${pagina.urlParaPagina(numeroPagina)}">[[${p}]]</a></li>
						</th:block>

						<li th:class="${pagina.ultima} ? disabled"><a
							th:href="${pagina.urlParaPagina(paginaAtual + 1)}"
							th:remove="${pagina.ultima} ? tag"><span>&raquo;</span></a></li>
					</ul>
				</nav>
			</div>



		</div>

	</section>
</body>
</html>