<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/default'"
	xmlns:ext="http://ext.ernestoborges.com.br">

<head>
<title>Pagina Inicial</title>
</head>

<body>
	<section layout:fragment="conteudo">


		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10">
						<h1>Cadastro de cerveja</h1>
					</div>

						<a class="btn  btn-default" th:href="@{/usuarios/lista}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Lista</span>
						</a>
						
				</div>
			</div>
		</div>



		<div class="container-fluid">

			<form method="post" th:object="${usuario}"
				th:action="@{/usuarios/novo}">

				<ext:message />

				<div class="row">

					<div class="col-sm-2  form-group  " ext:classforerror="nome">

						<label for="nome" class="control-label"> Nome:</label> <input
							id="nome" class="form-control" type="text" th:field="*{nome}"
							autofocus="autofocus" />
					</div>

					<div class="col-sm-2  form-group  " ext:classforerror="senha">
						<label for="Senha" class="control-label"> Senha:</label> <input
							id="senha" class="form-control" type="text" th:field="*{senha}" />
					</div>
				</div>


				<div class="row">
					<div class="form-group">
						<button class="btn  btn-primary" type="submit">Salvar</button>
					</div>
				</div>
			</form>
		</div>
	</section>


</body>
</html>